.card {
    background-color: darkkhaki;
    width: 330px;
    margin: 5px 0px;
    padding: 5px 5px;
    border: solid green 7px;
  
    display: flex;

    .card__image {
        width: 70px;
      }
  }
.card2{
    background-color: darkkhaki;
    width: 330px;
    margin: 5px 0px;
    padding: 5px 5px;
    border: solid green 7px;
  
    display:flex;
    

 
  }
  .container{
    justify-self: center;
    width: 100%;
   
  }
  
  .vision{
    width: 100%;
    
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr; 
    grid-template-areas: 
    "imagen  parrafo"
    "imagen parrafo_2";
  
  }
  .parrafo{
    background-color: darkkhaki;
    grid-area: parrafo; 

   
  }
  .imagen{
    background-color: darkkhaki;
    grid-area: imagen;
  
  }
  .parrafo_2{
    background-color: darkkhaki;
    grid-area: parrafo_2;
  }
  
  .imasf{
    display: flex;
    justify-self: center;
    width:70%;
    
    
  }
  .form{
    background-color: rgb(20, 175, 67);
    display:inline-block;
    align-items: center;
    
  }
