@media screen and (max-width:1024px) {

    .parrafo{background-color: chartreuse;}
    .imagen{background-color: chartreuse;}
    .parrafo_2{background-color: chartreuse;}
    .card{background-color: chocolate;}
  }
  @media screen and (max-width:768px) {
  
    .parrafo{background-color: rgb(89, 0, 255);}
    .imagen{background-color: rgb(89, 0, 255);}
    .parrafo_2{background-color: rgb(23, 170, 67);}
    .card{background-color: rgb(56, 184, 184);}
    
  }
  @media screen and (max-width:1024px) {

    .card__image{background-color: aquamarine;}
    
  }
  