@charset "UTF-8";
* {
  margin: 6px;
  padding: 0;
  box-sizing: content-box;
}

.body {
  background-color: rgb(245, 245, 245);
}

.menu {
  color: black;
  display: flex;
  justify-content: center;
  align-items: stretch;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  background-color: darkkhaki;
  flex-wrap: wrap;
  transition: 0.5s;
}
.menu :hover {
  transform: scale(1.2);
}

h1 {
  font-family: Helvetica, Geneva, Arial, SunSans-Regular, sans-serif;
  font-size: 80px;
  color: rgb(4, 128, 0);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-shadow: 5px 5px black;
  background-color: darkgreen;
  flex-wrap: wrap;
}

.h2 {
  font-family: Helvetica, Geneva, Arial, SunSans-Regular, sans-serif;
  font-size: 30px;
  color: rgb(4, 128, 0);
  justify-items: center;
}

.h4 {
  font-family: helvetica;
  font-size: 18px;
}

.colegio {
  display: flex;
  border: 10px solid rgb(69, 192, 20);
  border-radius: 8px;
  padding: 8px;
  margin: auto;
  width: 95%;
  flex-wrap: wrap;
  transition: 1s;
}
.colegio.colegio:hover {
  transform: translate(5px, 7px);
}

.mapa {
  display: flex;
  padding: 8px;
  justify-content: center;
  flex-wrap: wrap;
}

.bajo {
  width: 100%;
  background-color: rgb(228, 235, 232);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.logo {
  width: 100px;
  display: flex;
  flex-wrap: wrap;
}

.niño {
  width: 35%;
  display: inline-block;
  transition: 1s;
}
.niño.niño:hover {
  transform: scale(1.2);
}

.articulos {
  width: 40%;
  justify-content: space-around;
  transition: 1s;
}
.articulos.articulos:hover {
  transform: scale(1.1);
}

.card {
  background-color: darkkhaki;
  width: 320px;
  margin: 20px, 5px;
  padding: 5px 5px;
  border: solid green 7px;
  display: inline-block;
  justify-content: space-between;
}
.card .card__image {
  width: 70px;
}

.card2 {
  background-color: darkkhaki;
  width: 325px;
  margin: 3px, 0px;
  padding: 5px 5px;
  border: solid green 7px;
  display: inline-block;
}

.container {
  justify-self: center;
  width: 100%;
}

.vision {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "imagen  parrafo" "imagen parrafo_2";
}

.parrafo {
  background-color: darkkhaki;
  grid-area: parrafo;
}

.imagen {
  background-color: darkkhaki;
  grid-area: imagen;
}

.parrafo_2 {
  background-color: darkkhaki;
  grid-area: parrafo_2;
}

.imasf {
  display: flex;
  justify-self: center;
  width: 70%;
}

.form {
  background-color: rgb(20, 175, 67);
  display: inline-block;
  align-items: center;
}

.bajo {
  width: 100%;
  background-color: rgb(228, 235, 232);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

@media screen and (max-width: 1024px) {
  .parrafo {
    background-color: chartreuse;
  }
  .imagen {
    background-color: chartreuse;
  }
  .parrafo_2 {
    background-color: chartreuse;
  }
  .card {
    background-color: chocolate;
  }
}
@media screen and (max-width: 768px) {
  .parrafo {
    background-color: rgb(89, 0, 255);
  }
  .imagen {
    background-color: rgb(89, 0, 255);
  }
  .parrafo_2 {
    background-color: rgb(23, 170, 67);
  }
  .card {
    background-color: rgb(56, 184, 184);
  }
}
@media screen and (max-width: 1024px) {
  .card__image {
    background-color: aquamarine;
  }
}/*# sourceMappingURL=Estilo.css.map */