* {
  margin: 4px;
  padding: 0;
  box-sizing: content-box;
}

.body {

  background-color: whitesmoke;
}

h1 {
  font-family: Helvetica, Geneva, Arial,
    SunSans-Regular, sans-serif;
  font-size: 80px;
  color: rgb(4, 128, 0);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-shadow: 5px 5px black;
  background-color: darkgreen;

}


.colegio {
  display:flex;
  border: 10px solid rgb(69, 192, 20);
  border-radius: 8px;
  padding: 8px;
  width: 1280px;

}

.menu {

  color: black;
  display: flex;
  justify-content: center;
  align-items: stretch;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: darkkhaki;
}

.card {
  background-color: darkkhaki;
  width: 350px;
  margin: 20px 30px;
  padding: 5px 5px;
  border: solid green 7px;

  display: inline-block;
}

.card__image {
  width: 80px;
}

.h2 {
  font-family: Helvetica, Geneva, Arial,
    SunSans-Regular, sans-serif;
  font-size: 30px;
  color: rgb(4, 128, 0);
  justify-items: center;
}
.bajo{
  width: 100%;
  background-color: rgb(228, 235, 232);
  display: flex;
  justify-content: center;
  align-items: center ;
}
.logo{
  width: 100px;
}
.form{
  background-color: blanchedalmond;
  display: inline-block;
  align-items: center;
  
}
.niño{
  width: 800px;
  display: inline-block;
   
}

.card2{
  background-color: darkkhaki;
  width: 350px;
  margin: 20px 30px;
  padding: 5px 5px;
  border: solid green 7px;

  display:block;
  justify-self: center;
}
.container{
  justify-self: center;
 
}